<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- iconの画像挿入 -->
	  <!-- <link rel="icon" href="" /> -->


    <title>MVP12</title>


    <!-- Import the webpage's stylesheet -->
    <link rel='stylesheet' href='../static/style.css' />

  </head>
  <body>
    <article class="wrapper">
      <section class = "header">
        <button> ＜ </button>
      </section>
      <section class = "title">
        <h2>〇〇駅付近イベント</h2>
      </section>

      <!-- <section class="map"> -->
      <!-- <a href="https://imgbb.com/"><img src="https://i.ibb.co/Rpx6QT8/20230217-0017-456fbd93da7f842305c5b77046646944-1.jpg" alt="20230217-0017-456fbd93da7f842305c5b77046646944-1" border="0"></a> -->
      <!-- </section> -->
      
      <section class = "event-list">
        <div class = "elements">
          <h2>XX/XX(X) XX:XX~XX:XX</h2>
          <div class = "figure">
            <div class = "parts">
              <h3>〇〇駅</h3>
              <h3>出発　XX:XX</h3>
            </div>
            <div class = "parts">
              <img src = "https://i.ibb.co/GVv4HHZ/2.png">
            </div>
            <div class = "parts">
              <h3>△△駅</h3>
              <h3>到着　XX:XX</h3>
            </div>
          </div>
          <h2>〇〇駅～△△駅　残り　X人</h2>
          <!-- aタグにリンクを入れてください -->
          <a class ="link" href="https://www.college.waffle-waffle.org/"></a>
        </div>
        <div class = "elements">
          <h2>XX/XX(X) XX:XX~XX:XX</h2>
          <div class = "figure">
            <div class = "parts">
              <h3>〇〇駅</h3>
              <h3>出発　XX:XX</h3>
            </div>
            <div class = "parts">
              <img src = "https://i.ibb.co/GVv4HHZ/2.png">
            </div>
            <div class = "parts">
              <h3>△△駅</h3>
              <h3>到着　XX:XX</h3>
            </div>
          </div>
          <h2>〇〇駅～△△駅　残り　X人</h2>
          <!-- aタグにリンクを入れてください -->
          <a class ="link" href="https://www.college.waffle-waffle.org/"></a>
        </div>
        <div class = "elements">
          <h2>XX/XX(X) XX:XX~XX:XX</h2>
          <div class = "figure">
            <div class = "parts">
              <h3>〇〇駅</h3>
              <h3>出発　XX:XX</h3>
            </div>
          <div class = "parts">
            <img src = "https://i.ibb.co/GVv4HHZ/2.png">
          </div>
          <div class = "parts">
            <h3>△△駅</h3>
            <h3>到着　XX:XX</h3>
          </div>
        </div>
          <h2>〇〇駅～△△駅　残り　X人</h2>
          <!-- aタグにリンクを入れてください -->
          <a class ="link" href="https://waffle-waffle.org/"></a>
        </div>
      </section>


    </article>
    <footer>
    </footer>
  </body>
</html>
